body{
    text-align: center;
    font-size: 1.6rem;
}
#main{
    background: lightgray;
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
}
#title{
    align: center;
}
h1{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;

}
img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li{
    margin: 16px 0;
}